<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    
    <ion-title>nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="description-container">
    <h2>Bienvenidos a nuestra aplicación TeLlevoApp</h2>
    <p>
      Somos una aplicación diseñada para simplificar tu proceso de asistencia hacia el duoc uc en contexto de pandemia.
      ,poder ayudar a otros y ganar un dinero extra a cambio, Utilizamos la tecnología de geolocalización para detectar automáticamente cuando te encuentras en la sede de Duoc UC. ¡Registra tu asistencia de manera eficiente y sin complicaciones!
    </p>
  </div>

  <div class="image-container">
  <img src="../assets/img/gps1.png" alt="Imagen de Muestra del GPS">
  </div>
</ion-content>

