.driver-page-container {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    text-align: center; /* Texto centrado */
    padding: 20px; /* Espacio interior */
  }
  
  .driver-page-container h2 {
    font-size: 24px; /* Tamaño de fuente grande */
    color: #007BFF; /* Texto azul */
    margin-bottom: 10px; /* Margen inferior */
  }
  
  .driver-page-container p {
    font-size: 16px; /* Tamaño de fuente mediano */
  }
  
  .register-button {
    background-color: #007BFF; /* Fondo azul para el botón */
    color: #fff; /* Texto blanco */
    font-weight: bold; /* Texto en negrita */
    margin-top: 20px; /* Margen superior */
  }