ion-content {
    ion-grid {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .form-container {
      max-width: 300px; // Ajusta el ancho según tu diseño
      padding: 20px;
      border-radius: 10px;
      background-color: #6e6e6e; // Cambia el color de fondo según tu diseño
  
      ion-input {
        margin-bottom: 15px;
      }
  
      ion-button {
        margin-top: 10px;
        width: 100%;
      }
    }
  }